/* line 5, ../mysite/assets/css/scss/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../mysite/assets/css/scss/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../mysite/assets/css/scss/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../mysite/assets/css/scss/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../mysite/assets/css/scss/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../mysite/assets/css/scss/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../mysite/assets/css/scss/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../mysite/assets/css/scss/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../mysite/assets/css/scss/compass/reset/_utilities.scss */
elements-of-type(html5-block) {
  display: block; }

/* line 62, ../mysite/assets/css/scss/screen.scss */
body {
  background: #567299;
  background-image: radial-gradient(#e8c545 30%, transparent 0), radial-gradient(#e8c545 20%, transparent 0);
  background-size: 10px 10px;
  background-position: 0 0, 6px 45px; }

/* line 69, ../mysite/assets/css/scss/screen.scss */
header {
  background-image: url("../img/space-wall.jpg");
  background-repeat: repeat-x; }

/* line 74, ../mysite/assets/css/scss/screen.scss */
#navigation {
  display: flex;
  flex-wrap: row wrap;
  font-size: 1em;
  line-height: 1.5em;
  border-bottom: 3px solid #47c9af; }

/* line 80, ../mysite/assets/css/scss/screen.scss */
#main-nav li {
  flex: 1 1 25%; }

/* line 83, ../mysite/assets/css/scss/screen.scss */
#main-nav a {
  /*nav element*/
  background-color: #567299;
  color: #f1dfdf;
  display: block;
  padding: 0.65625em 0;
  /*10.5px/16px=.65625em    .65625em is for top and bottom, 0 is for left and right*/
  text-align: center;
  text-decoration: none;
  z-index: 2;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease; }
  /* line 96, ../mysite/assets/css/scss/screen.scss */
  #main-nav a:hover {
    background: #e8c545; }

/* line 100, ../mysite/assets/css/scss/screen.scss */
nav a:active,
#home #nav-hom,
#lotr-home #nav-lot,
#got-home #nav-got,
#about-home #nav-abo,
#other-home #nav-int {
  background: #e8c545;
  color: #dceaef; }

/* line 109, ../mysite/assets/css/scss/screen.scss */
nav a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 120%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  content: "";
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: perspective(5px) rotateX(2deg);
  -webkit-transform-origin: bottom;
  -moz-transform: perspective(5px) rotateX(2deg);
  -moz-transform-origin: bottom;
  transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom; }

/* line 131, ../mysite/assets/css/scss/screen.scss */
p {
  font-size: 1em;
  line-height: 1.5em;
  border: rgba(255, 255, 255, 0.5);
  margin-top: 5%;
  margin-bottom: 5%;
  background: rgba(232, 197, 69, 0.8);
  background-clip: padding-box;
  padding: 1.5em; }

/* line 140, ../mysite/assets/css/scss/screen.scss */
#got-home p,
#lotr-home p,
html#other-home body main section#dogs p {
  font-size: 1.5em;
  line-height: 1em;
  border: rgba(255, 255, 255, 0.5);
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 1.5em; }

/* line 149, ../mysite/assets/css/scss/screen.scss */
figcaption {
  font-size: 1.5em;
  line-height: 1em;
  border: 20px solid rgba(255, 255, 255, 0.5);
  background: #e8c545;
  background-clip: padding-box;
  max-width: 18em;
  margin-bottom: 1.0em;
  margin-right: 1.0em;
  margin-left: 1.0em;
  padding: 0.3em;
  text-align: center; }

/* line 161, ../mysite/assets/css/scss/screen.scss */
h1 {
  font-size: 2em;
  line-height: 0.75em;
  border: 50px solid rgba(255, 255, 255, 0.5);
  background: #e8c545;
  background-clip: padding-box;
  max-width: 18em;
  padding: 1.5em; }

/* line 169, ../mysite/assets/css/scss/screen.scss */
h2 {
  font-size: 2.5em;
  line-height: 0.6em;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
  margin-right: 0.6em;
  margin-left: 0.6em;
  border: 50px solid rgba(255, 255, 255, 0.5);
  background: #e8c545;
  background-clip: padding-box;
  max-width: 18em;
  padding: 0.3em; }

/* line 181, ../mysite/assets/css/scss/screen.scss */
h3 {
  font-size: 3em;
  line-height: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
  margin-left: 0.5em; }

/* line 188, ../mysite/assets/css/scss/screen.scss */
h4 {
  font-size: 3.5em;
  line-height: 0.429;
  margin-top: 0.429em;
  margin-bottom: 0.429em;
  margin-right: 0.429em;
  margin-left: 0.429em; }

/* line 196, ../mysite/assets/css/scss/screen.scss */
img {
  padding-left: 5%;
  max-width: 90%; }

/* line 201, ../mysite/assets/css/scss/screen.scss */
#nav-images {
  display: flex;
  flex-wrap: wrap;
  padding: 5px; }
  /* line 205, ../mysite/assets/css/scss/screen.scss */
  #nav-images li {
    flex: 1 1 400px; }
  /* line 208, ../mysite/assets/css/scss/screen.scss */
  #nav-images img {
    max-width: 90%;
    padding-left: 5%; }

/* line 214, ../mysite/assets/css/scss/screen.scss */
footer {
  font-size: 1em;
  line-height: 1.5em;
  background-image: url("../img/space-wall.jpg");
  background-repeat: repeat-x;
  color: #567299;
  display: flex;
  flex-direction: column;
  padding-bottom: 5%;
  padding-top: 5%; }
  /* line 223, ../mysite/assets/css/scss/screen.scss */
  footer #contact-info {
    color: #90bd31;
    margin-top: 20%;
    text-align: center; }
  /* line 228, ../mysite/assets/css/scss/screen.scss */
  footer #github {
    padding-left: 15%; }
  /* line 231, ../mysite/assets/css/scss/screen.scss */
  footer #linked-in {
    padding-left: 75%;
    margin-top: 5%; }
  /* line 235, ../mysite/assets/css/scss/screen.scss */
  footer #email-icon {
    padding-left: 45%;
    margin-top: 5%; }
  /* line 239, ../mysite/assets/css/scss/screen.scss */
  footer img {
    width: 50px;
    height: 50px;
    display: block;
    margin-top: 5%;
    position: absolute; }

/*# sourceMappingURL=screen.css.map */