/* line 5, ../mysite/assets/css/scss/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../mysite/assets/css/scss/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../mysite/assets/css/scss/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../mysite/assets/css/scss/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../mysite/assets/css/scss/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../mysite/assets/css/scss/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../mysite/assets/css/scss/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../mysite/assets/css/scss/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../mysite/assets/css/scss/compass/reset/_utilities.scss */
elements-of-type(html5-block) {
  display: block; }

/* line 54, ../mysite/assets/css/scss/screen.scss */
body {
  background: #567299;
  background-image: radial-gradient(#e8c545 30%, transparent 0), radial-gradient(#e8c545 20%, transparent 0);
  background-image: -webkit-radial-gradient(#e8c545 30%, transparent 0), -webkit-radial-gradient(#e8c545 20%, transparent 0);
  background-size: 10px 10px;
  background-position: 0 0, 6px 45px; }

/* line 63, ../mysite/assets/css/scss/screen.scss */
header {
  background-image: url("../img/space-wall.jpg");
  background-repeat: repeat-x; }

/* line 68, ../mysite/assets/css/scss/screen.scss */
a {
  text-decoration: none; }

/* line 71, ../mysite/assets/css/scss/screen.scss */
#navigation {
  display: flex;
  -ms-flex-wrap: row wrap;
  flex-wrap: row wrap;
  flex-wrap: row wrap;
  font-size: 1em;
  line-height: 1.5em;
  border-bottom: 3px solid #47c9af; }

/* line 79, ../mysite/assets/css/scss/screen.scss */
#main-nav li {
  flex: 1 1 25%; }

/* line 82, ../mysite/assets/css/scss/screen.scss */
#main-nav a {
  /*nav element*/
  background-color: #567299;
  color: #f1dfdf;
  display: block;
  padding: 0.65625em 0;
  /*10.5px/16px=.65625em    .65625em is for top and bottom, 0 is for left and right*/
  text-align: center;
  text-decoration: none;
  z-index: 2;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease; }
  /* line 95, ../mysite/assets/css/scss/screen.scss */
  #main-nav a:hover {
    background: #e8c545; }

/* line 99, ../mysite/assets/css/scss/screen.scss */
nav a:active,
#home #nav-hom,
#lotr-home #nav-lot,
#got-home #nav-got,
#about-home #nav-abo,
#other-home #nav-int {
  background: #e8c545;
  color: black; }

/* line 108, ../mysite/assets/css/scss/screen.scss */
nav a:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 120%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  content: "";
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: perspective(5px) rotateX(2deg);
  -webkit-transform-origin: bottom;
  -moz-transform: perspective(5px) rotateX(2deg);
  -moz-transform-origin: bottom;
  transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom; }

/* line 126, ../mysite/assets/css/scss/screen.scss */
html {
  font-family: "Garamond", "Baskerville", "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  word-wrap: break-word;
  overflow-wrap: break-word; }

/* line 131, ../mysite/assets/css/scss/screen.scss */
p {
  font-size: 1em;
  line-height: 1.5em;
  border: rgba(255, 255, 255, 0.5);
  margin-bottom: 5%;
  background: rgba(232, 197, 69, 0.8);
  background-clip: padding-box;
  padding: 1.5em; }

/* line 139, ../mysite/assets/css/scss/screen.scss */
#got-home p,
#lotr-home p {
  font-size: 1.5em;
  line-height: 1em;
  border: rgba(255, 255, 255, 0.5);
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 1.5em; }

/* line 146, ../mysite/assets/css/scss/screen.scss */
figcaption {
  font-size: 1.5em;
  line-height: 1em;
  border: 20px solid rgba(255, 255, 255, 0.5);
  background: #e8c545;
  background-clip: padding-box;
  max-width: 18em;
  margin-right: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  padding: 0.3em;
  text-align: center; }

/* line 156, ../mysite/assets/css/scss/screen.scss */
h1 {
  font-size: 2em;
  line-height: 0.75em;
  border: 50px solid rgba(255, 255, 255, 0.5);
  background: #e8c545;
  background-clip: padding-box;
  max-width: 18em;
  padding: 1.5em; }

/* line 164, ../mysite/assets/css/scss/screen.scss */
h2 {
  font-size: 2.5em;
  line-height: 0.6em;
  margin: 0.6em;
  border: 50px solid rgba(255, 255, 255, 0.5);
  background: #e8c545;
  background-clip: padding-box;
  max-width: 18em;
  padding: 0.3em; }

/* line 173, ../mysite/assets/css/scss/screen.scss */
h3 {
  font-size: 3em;
  line-height: 0.5em;
  margin: 0.6em; }

/* line 177, ../mysite/assets/css/scss/screen.scss */
h4 {
  font-size: 3.5em;
  line-height: 0.429;
  margin: 0.429em; }

/* line 181, ../mysite/assets/css/scss/screen.scss */
b {
  font-weight: bold;
  color: black; }

/* line 186, ../mysite/assets/css/scss/screen.scss */
blockquote {
  position: relative;
  width: 55%;
  margin: 25%; }

/* line 191, ../mysite/assets/css/scss/screen.scss */
blockquote p {
  font-size: 1em;
  line-height: 1.5em;
  margin: 5px;
  z-index: 10;
  position: relative; }

/* line 197, ../mysite/assets/css/scss/screen.scss */
blockquote > cite {
  font-size: 1.5em;
  line-height: 1em;
  background: rgba(232, 197, 69, 0.8);
  display: block;
  text-align: right; }

/* line 203, ../mysite/assets/css/scss/screen.scss */
blockquote:after, blockquote:before {
  position: absolute;
  z-index: 1;
  font-size: 12em;
  color: #2ABBD5;
  text-shadow: 2px 2px 0 #DDD;
  font-family: serif;
  height: 0; }

/* line 212, ../mysite/assets/css/scss/screen.scss */
blockquote:before {
  content: "\201C";
  top: -55px;
  left: -55px; }

/* line 217, ../mysite/assets/css/scss/screen.scss */
blockquote:after {
  content: "\201D";
  bottom: 30px;
  right: 0; }

/* line 222, ../mysite/assets/css/scss/screen.scss */
blockquote > cite:before {
  content: "-- "; }

/* line 252, ../mysite/assets/css/scss/screen.scss */
#form-sect {
  margin-bottom: 15%; }

/* line 255, ../mysite/assets/css/scss/screen.scss */
#button {
  padding: 25px 25px;
  margin: 25%;
  color: #24799e;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  border-radius: 5%;
  /* Fallback for sad browsers */
  background-color: #1a6798;
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(#42b3e2, #1a6798);
  /* Opera */
  background-image: -o-linear-gradient(#42b3e2, #1a6798);
  /* WebKit (Safari 4+, Chrome 1+) */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #42b3e2), color-stop(1, #1a6798));
  /* WebKit (Chrome 11+) */
  background-image: -webkit-linear-gradient(#42b3e2, #1a6798);
  /* IE10 */
  background-image: -ms-linear-gradient(#42b3e2, #1a6798);
  /* W3C */
  background-image: linear-gradient(#42b3e2, #1a6798); }

/* line 263, ../mysite/assets/css/scss/screen.scss */
img {
  padding-left: 5%;
  max-width: 90%; }

/* line 268, ../mysite/assets/css/scss/screen.scss */
#nav-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 5px; }
  /* line 275, ../mysite/assets/css/scss/screen.scss */
  #nav-images li {
    flex: 1 1 400px; }
  /* line 278, ../mysite/assets/css/scss/screen.scss */
  #nav-images img {
    max-width: 90%;
    padding-left: 5%; }

/* line 284, ../mysite/assets/css/scss/screen.scss */
#form-content {
  background-color: #e8c545;
  font-size: 1em;
  line-height: 1.5em; }

/* line 289, ../mysite/assets/css/scss/screen.scss */
footer {
  font-size: 1em;
  line-height: 1.5em;
  background-image: url("../img/space-wall.jpg");
  background-repeat: repeat-x;
  color: #567299;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 5%;
  padding-bottom: 5%; }
  /* line 302, ../mysite/assets/css/scss/screen.scss */
  footer #contact-info {
    color: #90bd31;
    margin-top: 20%;
    text-align: center; }
  /* line 307, ../mysite/assets/css/scss/screen.scss */
  footer #github {
    padding-left: 10%; }
  /* line 310, ../mysite/assets/css/scss/screen.scss */
  footer #linked-in {
    padding-left: 65%;
    margin-top: 5%; }
  /* line 314, ../mysite/assets/css/scss/screen.scss */
  footer #email-icon {
    padding-left: 35%;
    margin-top: 5%; }
  /* line 318, ../mysite/assets/css/scss/screen.scss */
  footer img {
    height: 50px;
    width: 50px;
    display: block;
    margin-top: 5%;
    position: absolute; }

@media screen and (min-width: 480px) {
  /* line 327, ../mysite/assets/css/scss/screen.scss */
  #nav-images img {
    max-width: 80%;
    padding-left: 5%; }
  /* line 331, ../mysite/assets/css/scss/screen.scss */
  #linked-in {
    padding-left: 75%;
    margin-top: 5%; }
  /* line 335, ../mysite/assets/css/scss/screen.scss */
  #email-icon {
    padding-left: 45%;
    margin-top: 5%; } }

@media screen and (min-width: 600px) {
  /* line 341, ../mysite/assets/css/scss/screen.scss */
  #nav-images img {
    max-width: 60%;
    padding-left: 20%; }
  /* line 345, ../mysite/assets/css/scss/screen.scss */
  form {
    padding-left: 10%; } }

@media screen and (min-width: 800px) {
  /* line 350, ../mysite/assets/css/scss/screen.scss */
  html {
    padding: 5%; }
  /* line 353, ../mysite/assets/css/scss/screen.scss */
  #main-nav a {
    /*nav element*/
    font-size: 1.3em; }
  /* line 356, ../mysite/assets/css/scss/screen.scss */
  #nav-images img {
    max-width: 50%;
    padding-left: 25%; }
    /* line 360, ../mysite/assets/css/scss/screen.scss */
    #nav-images img figcaption {
      padding: 2.5%; } }

@media screen and (min-width: 1000px) {
  /*code for nav images*/
  /* line 367, ../mysite/assets/css/scss/screen.scss */
  #nav-images {
    display: flex;
    flex-wrap: wrap;
    padding: 5px; }
    /* line 371, ../mysite/assets/css/scss/screen.scss */
    #nav-images li {
      flex: 0 1 450px; }
    /* line 374, ../mysite/assets/css/scss/screen.scss */
    #nav-images img {
      max-width: 70%;
      padding-left: 20%; }
    /* line 378, ../mysite/assets/css/scss/screen.scss */
    #nav-images figcaption {
      margin-left: 30%;
      margin-right: 20%; } }

@media screen and (min-width: 1200px) {
  /* line 385, ../mysite/assets/css/scss/screen.scss */
  #nav-images li {
    flex: 0 1 395px; }
    /* line 387, ../mysite/assets/css/scss/screen.scss */
    #nav-images li img {
      max-width: 75%;
      padding-left: 20%; }
    /* line 391, ../mysite/assets/css/scss/screen.scss */
    #nav-images li figcaption {
      margin-left: 30%;
      margin-right: 8%; } }

@media screen and (min-width: 1400px) {
  /* line 398, ../mysite/assets/css/scss/screen.scss */
  #nav-images li {
    flex: 0 1 350px; }
    /* line 400, ../mysite/assets/css/scss/screen.scss */
    #nav-images li img {
      max-width: 80%; }
    /* line 403, ../mysite/assets/css/scss/screen.scss */
    #nav-images li figcaption {
      margin-left: 25%;
      margin-right: 5%; } }

@media screen and (min-width: 1600px) {
  /* line 410, ../mysite/assets/css/scss/screen.scss */
  #nav-images li {
    flex: 0 1 380px; }
    /* line 412, ../mysite/assets/css/scss/screen.scss */
    #nav-images li img {
      max-width: 85%; }
    /* line 415, ../mysite/assets/css/scss/screen.scss */
    #nav-images li figcaption {
      margin-left: 25%;
      margin-right: 0%; } }

/*# sourceMappingURL=screen.css.map */